<h1>Let's Browse through all the world famous Kochtails</h1>

<div class="container">
  <p>
    <% @cocktails.each do |cocktail| %>
    <%= link_to cocktail.name, cocktail_path(cocktail) %>
  </p>
  <% end %>
</div>

<div class="button">Create a new cocktail</div>
